@import "src/components/mixins";
.contact-us{
  margin: 140px;
  &-images{
    position: relative;
    width: 50%;
    height: 700px;
    >img:nth-child(1){
      position: absolute;
      z-index: 4;
      width: 100%;
      max-width: 468px;
    }
    >img:nth-child(2){
      position: absolute;
      z-index: 3;
      top: -28px;
      right: 122px;
    }
    >img:nth-child(3){
      position: absolute;
      z-index: 2;
      width: 100%;
      left: 0;
      bottom: 7px;
    }
    >img:nth-child(4){
      position: absolute;
      z-index: 2;
      right: -24px;
      top: 25px;
    }
  }
  &-info{
    width: 50%;
    padding-left: 100px;
    >h2{
      @include descriptionUpp;
    }
    >h1{
      margin: 0;
      max-width: 287px;
      width: 100%;
    }
    &__text{
      display: flex;
      align-items: center;
      margin-top: 62px;
      >div:nth-child(1){
        padding-right: 60px;
      }
      >img{
        padding: 16px;
        margin-right: 68px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: black;
        transition: 0.3s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    &__description{
      >div:nth-child(2){
        margin: 22px 0;
      }
      >div:nth-child(3){
        max-width: 142px;
        width: 100%;
        @include description;
      }
    }
  }
  .container {
    display:flex ;
    justify-content: space-around;
  }
}
