.fresh-bakery{
  display: flex;
  justify-content: space-between;
  &-left{
    position: relative;
    width: 100%;
    background: rgba(231, 212, 190, 0.44);
    padding: 160px 0 0 135px;
    &__title{
      max-width: 467px;
      padding-bottom: 27px;
      position: relative;
    }
    &__sience{
      padding-bottom: 21px;
    }
    &__description{
      max-width: 470px;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
    }
    &__points{
      position: absolute;
      right: 0;
    }
    &__bread{
      position: absolute;
      top: 0;
    left: 0;
    }
  }
  &-right{
    max-width: 715px;
    width: 100%;
    height: 100%;
  }
}
