.App {
  display: flex;
  justify-content: center;
}

.App-header {
  font-family: 'Ultra';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  text-align: center;
  color: #171B1B;
}
.container{
  max-width: 1440px;
  width: 100%;
}
.button-black{
  width: 138px;
  height: 48px;
  color: white;
  background: #000000;
  border: 1px solid rgba(255, 255, 255, 0.295743);
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  cursor: pointer;
}
.title{
  font-family: 'Ultra';
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 80px;
}
.title-top{
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
