.App-header {
  font-family: 'Ultra';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  text-align: center;
  color: #171B1B;
}

main{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.container{
  width: min(100% - 40px, 1150px);
  margin-inline: auto;
}
.button-black{
  width: 138px;
  height: 48px;
  color: white;
  background: #000000;
  border: 1px solid rgba(255, 255, 255, 0.295743);
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  cursor: pointer;
}
.title{
  font-family: 'Ultra';
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 80px;
}
.title-top{
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
@media screen and (max-width: 1200px){
  .title{
    font-size: 58px;
    line-height: 60px;
  }
  .title-top{
    font-size: 14px;
    line-height: 20px;
  }
}
@media screen and (max-width: 992px){
  .title{
    font-size: 40px;
    line-height: 36px;
  }
  .title-top{
    font-size: 12px;
    line-height: 18px;
  }
}
